In [65]:
import os
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import seaborn as sns
import matplotlib.pyplot as plt

In [66]:
df = pd.read_csv('../data/Netflix.csv')
df.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
165,s166,TV Show,Oldsters,NaN,"Patricio Contreras, Alejandro Goic, Sergio Her...",NaN,1-Sep-21,2019,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",Three friends in their 70s step out of retirem...
27,s28,Movie,Grown Ups,Dennis Dugan,"Adam Sandler, Kevin James, Chris Rock, David S...",United States,20-Sep-21,2010,PG-13,103 min,Comedies,Mourning the loss of their beloved junior high...
10,s11,TV Show,"Vendetta: Truth, Lies and The Mafia",NaN,NaN,NaN,24-Sep-21,2021,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...","Sicily boasts a bold ""Anti-Mafia"" coalition. B..."
82,s83,TV Show,Lucifer,NaN,"Tom Ellis, Lauren German, Kevin Alejandro, D.B...",United States,10-Sep-21,2021,TV-14,6 Seasons,"Crime TV Shows, TV Comedies, TV Dramas","Bored with being the Lord of Hell, the devil r..."
22,s23,Movie,Avvai Shanmughi,K.S. Ravikumar,"Kamal Hassan, Meena, Gemini Ganesan, Heera Raj...",NaN,21-Sep-21,1996,TV-PG,161 min,"Comedies, International Movies",Newly divorced and denied visitation rights wi...

In [67]:
df.shape

(200, 12)

In [68]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [69]:
df.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [70]:
df.describe(include='all')

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
count,200,200,200,137,180,136,200,200.000000,200,200,200,200
unique,200,2,200,123,179,44,26,NaN,10,71,97,199
top,s1,Movie,Dick Johnson Is Dead,Toshiya Shinohara,"Vijay Sethupathi, Parthiban, Raashi Khanna",United States,1-Sep-21,NaN,TV-MA,1 Season,"Action & Adventure, Anime Features, Internatio...",A budding politician has devious plans to rise...
freq,1,127,1,4,2,50,56,NaN,50,43,12,2
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.230000,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.609089,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1961.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.750000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000,NaN,NaN,NaN,NaN

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       200 non-null    object
 1   type          200 non-null    object
 2   title         200 non-null    object
 3   director      137 non-null    object
 4   cast          180 non-null    object
 5   country       136 non-null    object
 6   date_added    200 non-null    object
 7   release_year  200 non-null    int64
 8   rating        200 non-null    object
 9   duration      200 non-null    object
 10  listed_in     200 non-null    object
 11  description   200 non-null    object
dtypes: int64(1), object(11)
memory usage: 18.9+ KB

In [72]:
df.nunique()

show_id         200
type              2
title           200
director        123
cast            179
country          44
date_added       26
release_year     41
rating           10
duration         71
listed_in        97
description     199
dtype: int64

In [73]:
df = df.set_index('show_id')
df.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
s139,Movie,Dear John,Lasse Hallström,"Channing Tatum, Amanda Seyfried, Richard Jenki...",United States,1-Sep-21,2010,PG-13,108 min,"Dramas, Romantic Movies","While on summer leave, a U.S. soldier falls fo..."
s115,Movie,Anjaam,Rahul Rawail,"Madhuri Dixit, Shah Rukh Khan, Tinnu Anand, Jo...",India,2-Sep-21,1994,TV-14,143 min,"Dramas, International Movies, Thrillers",A wealthy industrialist’s dangerous obsession ...
s185,TV Show,Sparking Joy,NaN,Marie Kondo,United States,31-Aug-21,2021,TV-PG,1 Season,Reality TV,"In this reality series, Marie Kondo brings her..."
s96,TV Show,The Circle,NaN,Michelle Buteau,"United States, United Kingdom",8-Sep-21,2021,TV-MA,3 Seasons,Reality TV,Status and strategy collide in this social exp...
s189,Movie,2 Alone in Paris,"Ramzy Bedia, Éric Judor","Ramzy Bedia, Éric Judor, Benoît Magimel, Krist...",France,28-Aug-21,2008,TV-MA,97 min,"Comedies, International Movies",A bumbling Paris policeman is doggedly determi...

In [74]:
df = df.rename(columns={'date_added':'date','listed_in':'genre'})
df.sample()

,type,title,director,cast,country,date,release_year,rating,duration,genre,description
show_id,,,,,,,,,,,
s112,TV Show,Sharkdog,NaN,"Liam Mitchell, Dee Bradley Baker, Grey Griffin...","United States, Singapore",3-Sep-21,2021,TV-Y,1 Season,Kids' TV,"Half shark, half dog with a big heart and a be..."

In [75]:
df['date'] = pd.to_datetime(df['date'])
df.sample()

C:\Users\Franco Quintana\AppData\Local\Temp\ipykernel_15724\3280412167.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['date'] = pd.to_datetime(df['date'])

,type,title,director,cast,country,date,release_year,rating,duration,genre,description
show_id,,,,,,,,,,,
s32,TV Show,Chicago Party Aunt,NaN,"Lauren Ash, Rory O'Malley, RuPaul Charles, Jil...",NaN,2021-09-17,2021,TV-MA,1 Season,TV Comedies,Chicago Party Aunt Diane is an idolized troubl...

In [76]:
df['director'].isna().any()

True

In [77]:
for col in df.columns:
    if df[col].isnull().any():
        print(f'{col} = {df[col].isnull().sum()} and dtype = {df[col].dtype}')

director = 63 and dtype = object
cast = 20 and dtype = object
country = 64 and dtype = object

In [78]:
df['cast'] = df['cast'].fillna("Unknown")
df['director'] = df['director'].fillna("Unknown")
df['country'] = df['country'].fillna("Unknown")
df.isna().any()

type            False
title           False
director        False
cast            False
country         False
date            False
release_year    False
rating          False
duration        False
genre           False
description     False
dtype: bool

In [79]:
df.sample(5)

,type,title,director,cast,country,date,release_year,rating,duration,genre,description
show_id,,,,,,,,,,,
s86,TV Show,Pokémon Master Journeys: The Series,Unknown,"Ikue Otani, Sarah Natochenny, Zeno Robinson, C...",Unknown,2021-09-10,2021,TV-Y7,1 Season,"Anime Series, Kids' TV",As Ash battles his way through the World Coron...
s151,Movie,In Too Deep,Michael Rymer,"Omar Epps, LL Cool J, Nia Long, Stanley Tucci,...",United States,2021-09-01,1999,R,97 min,Thrillers,Rookie cop Jeffrey Cole poses as a drug dealer...
s65,Movie,Nightbooks,David Yarovesky,"Winslow Fegley, Lidya Jewett, Krysten Ritter",Unknown,2021-09-15,2021,TV-PG,103 min,Children & Family Movies,Scary story fan Alex must tell a spine-tinglin...
s124,TV Show,Luv Kushh,Unknown,Unknown,Unknown,2021-09-02,2012,TV-Y7,1 Season,Kids' TV,"Based on the last book of the epic Ramayana, t..."
s196,Movie,EMI: Liya Hai To Chukana Padega,Saurabh Kabra,"Sanjay Dutt, Arjun Rampal, Malaika Arora, Aash...",India,2021-08-27,2008,TV-14,128 min,"Comedies, Dramas, International Movies",A bank hires an enigmatic and unorthodox debt ...

In [80]:
# Cantidad de titulos por tipo
titles_by_type = df['type'].value_counts()
titles_by_type

type
Movie      127
TV Show     73
Name: count, dtype: int64

In [81]:
# Cantidad de titulos por año
titles_by_year = df['release_year'].value_counts().sort_index()
titles_by_year

release_year
1961     1
1975     1
1978     1
1980     1
1982     1
1983     1
1984     1
1986     2
1987     1
1989     1
1990     1
1991     1
1992     1
1993     3
1994     4
1996     3
1997     2
1998     2
1999     2
2000     1
2001     4
2002     2
2003     7
2004     3
2005     3
2006     3
2007     2
2008     6
2009     2
2010     5
2011     2
2012     2
2013     4
2014     4
2015     6
2016     3
2017     8
2018     7
2019     5
2020    13
2021    78
Name: count, dtype: int64

In [82]:
# Cantidad de titulos por pais
titles_by_country = df['country'].value_counts()
titles_by_country

country
Unknown                                                                  64
United States                                                            50
India                                                                    15
Japan                                                                    14
United Kingdom                                                            5
Nigeria                                                                   4
United Kingdom, United States                                             4
Australia                                                                 3
Germany, United States                                                    2
United States, Canada                                                     2
France                                                                    2
South Korea                                                               2
China, Canada, United States                                              1
South Africa, United States                                               1
United Kingdom, Canada, United States                                     1
United States, Germany                                                    1
Italy, United States                                                      1
United States, China, Hong Kong                                           1
Hong Kong                                                                 1
Canada                                                                    1
Russia                                                                    1
China, Hong Kong                                                          1
United States, United Kingdom, Canada                                     1
Argentina, Venezuela                                                      1
Australia, United States                                                  1
United States, Italy, Romania, United Kingdom                             1
United States, Italy, France, Japan                                       1
United States, Mexico                                                     1
United States, Ghana, Burkina Faso, United Kingdom, Germany, Ethiopia     1
South Africa, United States, Japan                                        1
Germany, Czech Republic                                                   1
United Kingdom, Australia, France, United States                          1
United Kingdom, Australia, France                                         1
United States, Singapore                                                  1
Spain                                                                     1
South Africa                                                              1
France, United States                                                     1
United States, United Kingdom                                             1
Mexico                                                                    1
Belgium                                                                   1
Turkey                                                                    1
Spain, United States                                                      1
United States, India, France                                              1
Finland                                                                   1
, South Korea                                                             1
Name: count, dtype: int64

In [83]:
# Cantidad de titulos por lanzamiento
titles_by_release = df['date'].value_counts().sort_index()
titles_by_release

date
2021-08-27     8
2021-08-28     4
2021-08-29     2
2021-08-31     3
2021-09-01    56
2021-09-02    14
2021-09-03     5
2021-09-04     1
2021-09-05     2
2021-09-06     3
2021-09-07     6
2021-09-08     4
2021-09-09     4
2021-09-10     8
2021-09-11     3
2021-09-14     6
2021-09-15    22
2021-09-16    12
2021-09-17     7
2021-09-19     2
2021-09-20     1
2021-09-21     5
2021-09-22     9
2021-09-23     2
2021-09-24    10
2021-09-25     1
Name: count, dtype: int64

In [84]:
# Cantidad de titulos por genero
titles_by_genre = df['genre'].value_counts().head(10)
titles_by_genre

genre
Action & Adventure, Anime Features, International Movies    12
Kids' TV                                                     8
Reality TV                                                   6
Kids' TV, TV Comedies                                        6
Comedies, Romantic Movies                                    6
Children & Family Movies                                     6
Dramas, International Movies, Thrillers                      6
Comedies, Dramas, International Movies                       5
Children & Family Movies, Comedies                           5
Action & Adventure, Comedies                                 5
Name: count, dtype: int64

In [85]:
# Cantidad de titlos por rating
titles_by_rating = df['rating'].value_counts()
titles_by_rating

rating
TV-MA    50
TV-14    34
PG-13    28
R        23
TV-PG    22
TV-Y7    14
PG       13
TV-Y     10
TV-G      5
G         1
Name: count, dtype: int64

In [86]:
# Cantidad de titulos por fecha
titles_by_date = df.groupby('date')['title'].count()
titles_by_date

date
2021-08-27     8
2021-08-28     4
2021-08-29     2
2021-08-31     3
2021-09-01    56
2021-09-02    14
2021-09-03     5
2021-09-04     1
2021-09-05     2
2021-09-06     3
2021-09-07     6
2021-09-08     4
2021-09-09     4
2021-09-10     8
2021-09-11     3
2021-09-14     6
2021-09-15    22
2021-09-16    12
2021-09-17     7
2021-09-19     2
2021-09-20     1
2021-09-21     5
2021-09-22     9
2021-09-23     2
2021-09-24    10
2021-09-25     1
Name: title, dtype: int64